* {
   margin: 0;
   padding: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-image: url('../image/Outdoor-yoga.jpg') ;
    height: 85vh;
    background-size: cover;
    background-position: top;
}
ul{
    float: right;
    list-style-type: none;
    margin: 30px;
}
ul li {
    display: inline-block;
 }
ul li a{
    text-decoration: none;
    color: azure;
    padding: 5px 20px;
    border: none;
    transition: 0.7s ease;
}
ul li a:hover{
    background-color:  #aeae6954;
    color: black;
}
ul li.active a{
    background-color: #aeae6954;
    color: black;
}
.welcome {
    color: beige;
    padding-top: 50px;
    padding-left: 50px;
}
.logo {
   color: beige;
   font-size: 5em;
   padding: 0%;
   margin: 0;
   text-align: center;
   position: absolute;
   top: 25%;
   left: 5%;
   float: none;
}
#cover-text{
    color: beige;
    text-align: center;
    position: absolute;
    top: 37%;
    left: 5%;
    float: none;
}

/* about us */

.container {
    display: flex;
    align-items: center;
    justify-content: left;
}

img{
    max-width: 150%;
}

.img-col {
    flex-basis: 50%;
    width: 50%;
    float: left;
}

.text {
    width: 50%;
    float: right;
    background-color: aquamarine;
    text-size-adjust: 1;
}

/* contacts */


#contact{
    background-size: 500px;
    margin-bottom: 150px;
}

#left-contact {
    padding-top: 40px;
    width: 33%;
    float: left;
    letter-spacing: 1px;
}
 #right-contact {
    padding-top: 40px;
    width: 33%;
    float: right;
 }

 #center-contact {
    width: 33%;
    margin: 0 auto;
    padding-top: 40px;
 }
 /* footer */
 
.text-uppercase {
    text-transform: none;
}
footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed ;
    bottom: 0;
    right: 0;
}

footer > span {
	color: silver;
}

footer > a {
	color: rgb(159, 159, 46);
	text-decoration: none;
	padding: 0 12px;
	font-size: 0.8rem;
}
footer > p{
    color: silver;
}